@CHARSET "UTF-8";

.borderless tr {
    border-style: none;
    border-width: 0;
}

.borderless th {
    border-style: none;
    border-width: 0;
}

.borderless td {
    border-style: none;
    border-width: 0;
}

.img-user {
    height: 38px;
    margin: 3px;
}

.nowrap {
    white-space: nowrap;
}

.controlCell {
    padding-right: 12px;
}

.helperDispMessageBox {
    position: fixed;
    top: 20%;
    left: 20%;
    margin-left: -150px;
    width: 300px;
    z-index: 9999;
}

.uploader {
    border: 1px solid #444;
    padding: 6px;
    background-color: #eeeeee;
}

.uploader .upload-ctl {
    display: inline;
}
