{% extends "base.html" %}

{% from 'macros.html' import transcript_table %}

{% block title %} User Admin {% endblock %}
{% block display_title %} User Admin {% endblock %}
{% block display_title_sub %}{% endblock %}


{% block main_content %}

<div class="row">
    <div class="col-md-12">

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {{transcript_table(transcripts, 'transcript-table', open_icon='glyphicon-copy', open_title='Assign Transcript')}}
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="uploader img-rounded">
            <form class="form-line" action="{{url_for('admin.upload_transcript')}}" method="post" enctype="multipart/form-data">
                <label class="upload-ctl" for="transcript-file">Upload Transcript:</label>
                <input class="upload-ctl" type="file" id="transcript-file" name="file">
                <button type="submit" class="upload-ctl btn btn-default">
                    <span class="glyphicon glyphicon-upload"></span>
                    Upload
                </button>
            </form>
            <small>Transcripts should be in our standard XML format. Download a
            sample <a href="{{url_for('admin.sample_transcript')}}">here</a></small>
        </div>
    </div>

    <div class="col-md-6">
        <div class="uploader img-rounded">
            <form class="form-inline" action="{{url_for('admin.upload_taxonomy')}}" method="post" enctype="multipart/form-data">
                <label class="upload-ctl" for="transcript-file">Upload Taxonomy:</label>
                <input class="upload-ctl" type="file" id="taxonomy-file" name="file">
                <button type="submit" class="upload-ctl btn btn-default">
                    <span class="glyphicon glyphicon-upload"></span>
                    Upload
                </button>
            </form>
            <small>Taxonomies should be in our standard YAML format. Download a
            sample <a href="{{url_for('admin.sample_taxonomy')}}">here</a></small>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script>
$(document).ready(function() {
});
</script>
{% endblock %}
