{% extends "base.html" %}

{% from 'macros.html' import transcript_table %}

{% block title %} Annotator Home {% endblock %}
{% block display_title %} Annotator Home {% endblock %}
{% block display_title_sub %}{% endblock %}

{% block main_content %}

<div class="row">
    <div class="col-md-12">

    </div>
</div>

<div class="row">
<div class="col-md-12">

    <ul id="tabs" class="nav nav-pills" role="tablist" data-tabs="tabs">
        <li class="active"><a href="#owned" data-toggle="owned">Owned By Me</a></li>
        <li><a href="#assigned" data-toggle="assigned">Assigned To Me</a></li>
        <li><a href="#completed" data-toggle="completed">Completed By Me</a></li>
    </ul>

    <br/>

    <div id="my-tab-content" class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="owned">
            {{transcript_table(owned, 'owned-table')}}
        </div>
        <div role="tabpanel" class="tab-pane" id="assigned">
            {{transcript_table(assigned, 'assigned-table')}}
        </div>
        <div role="tabpanel" class="tab-pane" id="completed">
            {{transcript_table(completed, 'completed-table')}}
        </div>
    </div>

</div>
</div>

{% endblock %}

{% block extra_js %}
<script>
$(document).ready(function() {
    $(".table").dataTable({
        "aaSorting": []
    });
    $("#tabs").tab();
    $("#tabs a").click(function (e) {
        e.preventDefault();
        $(this).tab("show");
    });
});
</script>
{% endblock %}
