{% macro transcript_table(transcripts, table_id, open_icon='glyphicon-pencil', open_title='Open Transcript') -%}
    <table id="{{table_id}}" class="table table-bordered">
        <thead><tr>
            <th>State</th>
            <th>Session</th>
            <th>Class</th>
            <th>Domain</th>
            <th>Area</th>
            <th>SubArea</th>
            <th>ProblemFromLearner</th>
            <th>LastSaved</th>
        </tr></thead>

        {% for transcript in transcripts %}
        <tr>
            <td class="nowrap">
                <a title="{{open_title}}"
                    class="btn-sm btn-primary"
                    href="{{url_for('main.edit_page', scriptid=transcript.id)}}"
                ><span class="glyphicon {{open_icon}}"></span></a>
                &nbsp; {{transcript.state}}
            </td>
            <td class="nowrap">
                {{transcript.script_identifier}}
                {% if transcript.verify %}
                    <span class="label label-danger">
                        <span class="glyphicon {{glyphicon-check}}"></span> Verify
                    </span>
                {% endif %}
                {% if transcript.training %}
                    <span class="label label-warning">
                        <span class="glyphicon glyphicon-book"></span> Training
                    </span>
                {% endif %}
            </td>
            <td class="nowrap">{{transcript.class_level}}</td>
            <td style="min-width: 180px;">{{transcript.domain}}</td>
            <td style="min-width: 180px;">{{transcript.area}}</td>
            <td style="min-width: 180px;">{{transcript.subarea}}</td>
            <td>{{transcript.problem_from_learner | truncate(35)}}</td>
            <td style="min-width: 180px;">{{transcript.last_saved_time}}</td>
        </tr>
        {% endfor %}
    </table>
{%- endmacro %}
